<p>home works!</p>
<mat-card id="b">
   <mat-card-header class="half-width">Human Resource Managment System Admin DashBoard</mat-card-header>
      </mat-card>  
      
      <mat-card class="btn-holder-card">
         <mat-card-content>
            <section>
              <div class="example-label"></div> 
               <div class="example-button-row">
                 <button mat-flat-button color="primary">Add Employee</button>
                 <button mat-flat-button color="primary">List Employee</button>
                 <button mat-flat-button color="primary">Logout</button>
               </div>
             </section>
             <mat-card class="image-card">
               <img mat-card-sm-image class="image" src="../assets/hr.jpg" alt="hr">
             </mat-card>
         </mat-card-content>
       </mat-card> 
   
   
