<p>profile works!</p>
<div>
    <h1>My Profile</h1>
     <button mat-flat-button color="primary">Primary</button>

     <mat-card>
        <mat-card-content>Profile</mat-card-content>
        </mat-card>

     <mat-card>
        <mat-card-content>Education Information</mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-content>Skils</mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-content>Experience</mat-card-content>
            </mat-card>

           
</div>
