
<div id="profile-box">
    <h1 id="a">My Profile</h1>
     <button id="a1" mat-flat-button color="primary">Primary</button>

     <mat-card class="profile">
        <mat-card-content>
            <h1>Habte Selassie</h1>
            <p>Full Stack Developer</p>
            <p>Employee ID:FT-0001</p>
            <button mat-flat-button color="accent">Send Message</button>

            <ul>
                <li>Phone</li>
                <li>Email</li>
                <li>Birthday</li>
                <li>Address</li>
                <li>Gender</li>
            </ul>

            <ul>
                <li>Phone</li>
                <li>Email</li>
                <li>Birthday</li>
                <li>Address</li>
                <li>Gender</li>
            </ul>

        </mat-card-content>
        </mat-card>
<br/>
     <mat-card class="education">
        <mat-card-content>
            <h1>Education Informations</h1>
            <h5>Addis Ababa University</h5>
            <p>Computer Science</p>
            <p>2019-2024</p>

            <h5>ALX Ethiopia</h5>
            <p>Data Science</p>
            <p>2023-2024</p>

        </mat-card-content>
      </mat-card>

<br/>

      <mat-card class="skills">
        <mat-card-content>
            <h1>Skills</h1>

           <button>JavaScrpit</button>
           <button>TypeScript</button>
           <button>ReactJs</button>
           <button>NextJs</button>
           <button>Redux</button>
           <button>NodeJs</button>
           <button>ExpressJs</button>
           <button>Socket.io</button>
           <button>Angular</button>
           
        </mat-card-content>
        </mat-card>
<br/>
        <mat-card class="experience">
            <mat-card-content>
               
                <h1>Experience</h1>

                <h3>Web Designer at Zen Corporation</h3>
               <p>Jan 2013 - Present (5 years 2 months)</p> 

                <h3>Web Designer at Ron-techJan </h3>
               <p>2013 - Present (5 years 2 months)</p> 

                <h3>Web Designer at Dalt TechnologyJan</h3>
                <p>2013 - Present (5 years 2 months)</p>

            </mat-card-content>
            </mat-card>

           
</div>
