
<div id="profile-box">
    <h1>My Profile</h1>
     <button mat-flat-button color="primary">Primary</button>

     <mat-card class="profile">
        <mat-card-content>Profile</mat-card-content>
        </mat-card>
<br/>
     <mat-card class="education">
        <mat-card-content>Education Information</mat-card-content>
      </mat-card>

      <br/>

      <mat-card class="skills">
        <mat-card-content>Skils</mat-card-content>
        </mat-card>
<br/>
        <mat-card class="experience">
            <mat-card-content>Experience</mat-card-content>
            </mat-card>

           
</div>
