<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell class="centered-cell" *matHeaderCellDef> Id </th>
    <td mat-cell class="centered-cell" *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell class="centered-cell" *matHeaderCellDef> Name </th>
    <td mat-cell class="centered-cell" *matCellDef="let element">{{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="age">
    <th mat-header-cell class="centered-cell" *matHeaderCellDef> Age </th>
    <td mat-cell class="centered-cell" *matCellDef="let element"> {{element.age}} </td>
  </ng-container>

  <ng-container matColumnDef="birthday">
    <th mat-header-cell class="centered-cell" *matHeaderCellDef> Birthday </th>
    <td mat-cell class="centered-cell" *matCellDef="let element">{{element.birthday | date}} </td>
  </ng-container>

  <ng-container matColumnDef="favoriteColor">
    <th mat-header-cell class="centered-cell" *matHeaderCellDef> Favorite Color </th>
    <td mat-cell class="centered-cell" *matCellDef="let element">
      <div [style.backgroundColor]="element.favoriteColor">{{element.favoriteColor}}</div>
    </td>
  </ng-container>

  <ng-container matColumnDef="projectId">
    <th mat-header-cell class="centered-cell" *matHeaderCellDef> projectId </th>
    <td mat-cell class="centered-cell" *matCellDef="let element">{{element.projectId}} </td>
  </ng-container>

  <ng-container matColumnDef="edit">
    <th mat-header-cell class="centered-cell" *matHeaderCellDef> Edit </th>
    <!-- <td mat-cell class="centered-cell" *matCellDef="let row"> <button md-raised-button (click)="editEmployee(row)">
        <mat-icon>edit</mat-icon>
      </button> </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef> Delete </th>
    <td mat-cell *matCellDef="let row"> <button md-raised-button (click)="deleteEmployee(row)">
        <mat-icon>delete</mat-icon>
      </button> </td> -->
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator #paginator [pageSize]="2" [pageSizeOptions]="[2, 4, 6]"></mat-paginator>
