@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body{
  align-items: center;
}

#box {
  width: 980px;
  margin-left: 330px;
  height: 100%;
  background-color: #ffffff;
  border: 1.5px solid rgb(215, 202, 228);
  margin-top: 100px;
}

  #b{
    width: 100%;
    margin-left: 0px;
    background-color: #45ff07;
    height: 65px;
    font-size: 20px;
    margin-top: 0px;
}
 
table {
  width: 100%;
  background-color: rgb(52, 146, 94);
} 

 .table-box {
  background-color: rgb(52, 146, 94);
  width: 50%;
  margin-left: 360px;
   margin: 0 auto 
 } 

 



