<div class="editer-box">
    <mat-card>
        <mat-card-content>
<h1>Basic Informations</h1>
<form class="a">
    <label></label>
    <input placeholder="First Name">
    <input placeholder="Last Name">
    <input placeholder="Birth Date">

    <select>
        <option value="" disabled selected>Gender</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option> 
    </select>
    

   


</form>
        </mat-card-content>
    </mat-card>
<br/>
    <mat-card>
        <mat-card-content>
            <h1>Contact Informations</h1>
<form>
    <label></label>
    <input placeholder="Address">
    <input placeholder="State">
    <input placeholder="Country">
    <input placeholder="Pin Code">
    <input placeholder="Phone Number">
</form>
        </mat-card-content>
    </mat-card>
<br/>
    <mat-card>
        <mat-card-content>
            <h1>Education Informations</h1>
            <form>
                <label></label>
                <input placeholder="Instituation">
                <input placeholder="Subject">
                <input placeholder="Starting Date">
                <input placeholder="Complete Date">
                <input placeholder="Degree">
                <input placeholder="Location">
                <button class="add-ins">Add More Institue</button>
            </form>
        </mat-card-content>
    </mat-card>
<br/>
    <mat-card>
        <mat-card-content>
            <h1>Experience Informations</h1>
            <form>
                <label></label>
                <input placeholder="Company Name">
                <input placeholder="Location">
                <input placeholder="Job Position">
                <input placeholder="Complete Date">
                <input placeholder="Period From">
                <input placeholder="Period To">
                <button class="add-exp">Add More Experience</button>
            </form>
        </mat-card-content>

        <button class="add-sav">Save & Update</button>
    </mat-card>
</div>
