body {
    background-color: aqua;
}
.editer-box {
   width:74%;
   height:1000px;
   margin-left: 300px;
   background-color: rgb(255, 255, 255);
   margin-top: 0px;
   position: absolute;
   border: 1px solid rgb(175, 166, 166);
}

.basic {
    margin-left: 20px;
    height:200px;
    margin-top: 40px;
    background-color: rgb(214, 213, 223);
    width:95%;
}



.contact {
    margin-left: 20px;
    height:200px;
    background-color: rgb(214, 213, 223);
    width:95%;
}


.education{
    margin-left: 20px;
    height:200px;
    background-color: rgb(214, 213, 223);
    width:95%;
}

.experience {
    margin-left: 20px; 
    height:200px;
    background-color: rgb(214, 213, 223);
    width:95%;

}

.first-name {
    margin-left: 18px; 
    margin-top: 20px;
}

.last-name{
    margin-left: 28px; 
}

.birth-date{
    margin-left: 28px; 
}

.placeholder {
    margin-top: 20px;
}
.degree{
    margin-top: 20px;
}
.period {
    margin-top: 20px;
}
body{
    background-color: rgb(255, 255, 255);
    align-items:center;
}

input {
    margin-left: 10px;
    padding-left: 30px;
    width:150px;
    height: 29px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(189, 175, 175);
    color: black;
    font-size: 15px;
    
}

.add-ins {
margin-top:10px;
width:190px;
height:35px;
background-color:rgb(183, 226, 26);
border-radius:12px
}

.add-exp {
    margin-top:10px;
    width:190px;
    height:35px;
    background-color:rgb(183, 226, 26);
    border-radius:12px
}

.add-sav {
    align-self: center;
    margin-top:10px;
    width:190px;
    height:55px;
    background-color:rgb(45, 47, 167);
    margin-left: 390px;
    border-radius:15px;
    border-color: white;
}