.editer-box {
   width:90%;
   height:1000px;
}

.basic {
    margin-left: 280px;
    height:1000px;
}

.card-holder {
    margin-left: 280px;
    height:1000px;
}

.contact {
    margin-left: 280px;
    height:1000px;
}

.education{
    margin-left: 280px;
    height:1000px;
}

.experience {
    margin-left: 280px; 
    height:1000px;
}

body{
    background-color: rgb(255, 255, 255);
    align-items:center;
}

input {
    margin-left: 10px;
    padding-left: 30px;
    width:150px;
    height: 29px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(189, 175, 175);
    color: black;
    font-size: 15px;
    
}

.add-ins {
margin-top:10px;
width:190px;
height:35px;
background-color:rgb(183, 226, 26);
border-radius:12px
}

.add-exp {
    margin-top:10px;
    width:190px;
    height:35px;
    background-color:rgb(183, 226, 26);
    border-radius:12px
}

.add-sav {
    align-self: center;
    margin-top:10px;
    width:190px;
    height:35px;
    background-color:rgb(183, 226, 26);
    border-radius:12px
}