
<div class="add-candidate-form">
  <div class="h1" >
    <h1>Add Employee Information</h1>
  </div>
  <form>
    <div class="mb-3">
      <label id="a" for="exampleInputPassword1" class="form-label">First Name</label>
      <input class="form-control form-control-lg" id="a1" type="text" placeholder="Enter Your First Name" aria-label=".form-control-lg example">
    </div>
    <div class="mb-3">
      <label id="b" for="exampleInputPassword1" class="form-label">Last Name</label>
      <input class="form-control form-control-lg" id="b1" type="text" placeholder="Enter Your Last Name" aria-label=".form-control-lg example">
    </div>
    <div class="mb-3">
      <label id="c" for="exampleInputPassword1" class="form-label">Age</label>
      <input class="form-control form-control-lg" id="c1" type="text" placeholder="Enter Your Age" aria-label=".form-control-lg example">
    </div>
    <div class="mb-3">
      <label id="d" for="exampleInputPassword1" class="form-label">Email</label>
      <input class="form-control form-control-lg" id="d1" type="text" placeholder="Enter Your Email" aria-label=".form-control-lg example">
    </div>
    <div class="mb-3">
      <label id="e" for="exampleInputPassword1" class="form-label">Department</label>
      <input class="form-control form-control-lg" id="e1" type="text" placeholder="Enter Your Department" aria-label=".form-control-lg example">
    </div>

    <div class="mb-3">
      <label id="f" for="exampleInputPassword1" class="form-label">Designation</label>
      <input class="form-control form-control-lg" id="f1" type="text" placeholder="Enter Your Designation" aria-label=".form-control-lg example">
    </div>
    <div class="mb-3">
      <label id="g" for="exampleInputPassword1" class="form-label">Skills</label>
      <input class="form-control form-control-lg" id="g1" type="text" placeholder="Enter Your Skills" aria-label=".form-control-lg example">
    </div>
    <div class="mb-3">
      <label id="h" for="exampleInputPassword1" class="form-label">Salary</label>
      <input class="form-control form-control-lg" id="h1" type="text" placeholder="Enter Your Salary" aria-label=".form-control-lg example">
    </div>
    <div class="mb-3">
      <label id="i" for="exampleInputPassword1" class="form-label">Contact</label>
      <input class="form-control form-control-lg" id="i1" type="text" placeholder="Enter Your Contact" aria-label=".form-control-lg example">
    </div>
    <div class="mb-3">
      <label id="j" for="exampleInputPassword1" class="form-label">Address</label>
      <input class="form-control form-control-lg" id="j1" type="text" placeholder="Enter Your Address" aria-label=".form-control-lg example">
    </div>
    <button type="submit" class="btn btn-primary">Add Candidate</button>
  </form>
   