@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body{
  align-items: center;
}
.example-form-field {
    width: 200px;
  }
  
  :host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .example-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    
  }
  #firstname {
  margin: auto;
  align-items: center;
  margin-left: 400px;
  }

  #lastname {
  margin: auto;
  align-items: center;
  margin-left: 650px;
  margin-top: -75px;
  }

  #age {
    margin: auto;
    align-items: center;
    margin-left: 400px;
  }

  #email {
    margin: auto;
    align-items: center;
    margin-left: 650px;
    margin-top: -75px;
  }

  #department {
    margin: auto;
    align-items: center;
    margin-left: 400px;
  }

  #designation {
    margin: auto;
    align-items: center;
    margin-left: 650px;
    margin-top: -75px;
  }

  #skills {
    margin: auto;
    align-items: center;
    margin-left: 400px;
  }

  #salary {
    margin: auto;
    align-items: center;
    margin-left: 650px;
    margin-top: -75px;
  }

  #contact {
    margin: auto;
    align-items: center;
    margin-left: 400px;
  
  }

  #address {
    margin: auto;
    align-items: center;
    margin-left: 650px;
    margin-top: -75px;
  }

  #btn-submit {
   margin-left: 420px;
   height:50px ;
   width: 150px;
   margin-top: 15px;
  }

  