@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body{
    align-items: center;
}

.top-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #f2f2f2;
  z-index: 999;
}

/* .navbar-content {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 20px;
}

.small-table {
  margin-right: 20px;
}

.content {
  margin-top: 60px; /* Height of the top navbar 
} */


nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -140px;
}
#a{
    width: 75%;
    margin-left: 323px;
    background-color: #a5c531;
    height: 90px;
    margin-top: -90px;
}
#b{
    width: 75%;
    margin-left: 323px;
    background-color: #4c1c74;
    height: 68px;
    font-size: 20px;
    margin-top: 20px;
}

.btn-holder-card{
    width: 75%;
    margin-left: 323px;
    height: 600px;
    margin-top: 20px;
    background-color: #b9b3b3;
}

section {
    display: flex;
    /* flex-direction: column;
    align-items: center; */
  }
  
  .example-label {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    margin-left: 9px;
    margin-top: 10px;
    /* min-width: 120px; */
  }
  
  .example-button-row{
    display: flex;
    flex-direction: column;
  }

  .example-button-row button{
    display: flex;
    align-items: center;
    text-align: left;
    flex-direction: column;
    width: 300px;
    height: 42px;
    font-size: 20px;
    margin-left: 10px; 
    margin-top: 21px;
    padding-top: 9px;
  }

  


.small-table{
    width: 260px;
    height: 60px;
    color: #43c5c5;
    background-color: #ca9999;
    margin-top: 1px;
    border-color: #29c495;
}

h1{
    font-size: 26px;
    padding-top: 20px;
    font-weight:900;
    color: #776d6d;
    margin-left: 89px;
    margin-top: -6px;
    width: 100%;
}

.image1-card {
    width: 8%;
    margin-left: 0px;
    margin-top: -93px;
    height: 93px;
   
}

.image1 {
    object-fit: cover;
    height: 100%;
    width: 100%;
    background-color: #bd5f12;
}

h2{
    margin-left: 30px;
    color: #ffffff;
    margin-top: 10px;
    padding-top: 5px;
}


.image-card {
    width: 50%;
    margin-left: 360px;
    margin-top: -180px;
    height: 360px;
}

.image {
    object-fit: cover;
    height: 100%;
    width: 100%;
}



.example-container {
  height: 100vh; /* Use the full height of the viewport */
  width: 288px;
  background-color: #242425;
  position: fixed; /* Fix the position */
  top: 80px; /* Position from the top */
  left: 0; /* Position from the left */

}


.mat-drawer {
  height: 800px;
  width: 300px;
  background-color: #242425;
}


.nav-item:hover,
.nav-item.active {
  background-color: #38bba9; /* New background color on hover and click */
}

.nav-item:hover .mat-icon,
.nav-item.active .mat-icon {
  color: rgb(139, 204, 19); /* New icon color on hover and click */
}

.nav-item:hover span,
.nav-item.active span {
  color: rgb(66, 130, 204); /* New text color on hover and click */
}

span{
  font-size: 23px;
  color: rgb(255, 255, 255);
  margin-left: -15px;
}

.mat-nav-list  {
  margin-top: 30px; /* Vertical gap between navigation items */
}


.mat-icon{
font-size: 30px;
color: blueviolet;
margin-left: 20px;
width:60px;
height: 23px;

}

.mat-icon span{
  font-size: 30px;
color: blueviolet;
}

#a1{
margin-top: 15px;
}

#b1{
  margin-top: 15px;
}

#c{
  margin-top: 15px;
}

#d{
  margin-top: 15px;
}

#e{
  margin-top: 15px;
}

#f{
  margin-top: 15px;
}
#h{
  margin-top: 15px;
}

.nav-item.active {
  background-color: #eaeaea;
}

