<!-- <router-outlet></router-outlet>-->

      <!-- <mat-card>
      <mat-card-content class="small-table">   
             <h1>HRMS System</h1>
      </mat-card-content>
    </mat-card>
    <div class="image1-card">
      <img mat-card-sm-image class="image1" src="../assets/hrimg.png" alt="hr">
    </div> 

<div>
   <mat-card id="a">
      <mat-card-header>
        <mat-card-title></mat-card-title>
        <mat-card-subtitle>Start</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
</div>

<mat-card id="b">
   <mat-card-header class="half-width">Human Resource Managment System Admin DashBoard</mat-card-header>
      </mat-card>   -->
      


      <!-- <mat-card class="btn-holder-card">
         <mat-card-content>
            <section>
              <div class="example-label"></div> 
               <div class="example-button-row">
                 <button mat-flat-button color="primary">Add Employee</button>
                 <button mat-flat-button color="primary">List Employee</button>
                 <button mat-flat-button color="primary">Logout</button>
               </div>
             </section>
             <mat-card class="image-card">
               <img mat-card-sm-image class="image" src="../assets/hr.jpg" alt="hr">
             </mat-card>
         </mat-card-content>
       </mat-card> -->
   
   

    <!-- <router-outlet></router-outlet>

 
         
 <mat-drawer-container class="example-container">
   <mat-drawer mode="side" opened>
     <mat-nav-list>
       <a id="a1" class="nav-item" mat-list-item routerLink="/home">
         <mat-icon>home</mat-icon>
         <span>Home</span>
       </a>
       <a id="b1" class="nav-item" mat-list-item routerLink="/add-candidate">
         <mat-icon>group_add</mat-icon>
         <span>Add Candidate</span>
       </a>
       <a id="c" class="nav-item" mat-list-item routerLink="/list-candidate">
         <mat-icon>list_alt</mat-icon>
         <span>List Candidate</span>
       </a>
       <a id="d" class="nav-item" mat-list-item routerLink="/add-employee">
         <mat-icon>group_add</mat-icon>
         <span>Add Employee</span>
       </a>
       <a id="e" class="nav-item" mat-list-item routerLink="/list-employee">
         <mat-icon>list_alt</mat-icon>
         <span>List Employee</span>
       </a>
       <a id="f" class="nav-item" mat-list-item routerLink="/profile">
         <mat-icon>people_outline</mat-icon>
         <span>Profile</span>
       </a>        
       <a id="h" class="nav-item" mat-list-item routerLink="/logout">
         <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span> 
      </a>
    

     </mat-nav-list>
   </mat-drawer>
   <mat-drawer-content>
     Main content
   </mat-drawer-content> 
 </mat-drawer-container>
     -->

       

      <!-- <app-login>
        
      </app-login> -->

      <!-- <app-read-candidate>

      </app-read-candidate> -->

      <!-- <app-read-employee>

      </app-read-employee> -->

      <!-- <app-profile></app-profile> -->

      <app-e